.comunity_banner {
  background: #fff;
  z-index: 6;
  padding-top: 235px;
  .line {
    width: 8px;
    height: 424px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    background: #004231;
  }
  &_left {
    width: 50%;
    &_bottom {
      padding-left: 157px;
    }
    .section_title {
      margin-top: 24px;
    }
    p {
      color: #004231;
      font-family: "Inter";
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      max-width: 522px;
      margin-top: 80px;
    }
    .button {
      width: fit-content;
      margin-top: 64px;
    }
  }
  .comunity_img {
    padding: 51px;
    width: 811px;
    height: 811px;
    border-radius: 50%;
    background: url("../images/img_border.svg") no-repeat center center;
  }
}
