.footer {
  padding-top: 300px;
  padding-bottom: 30px;
  color: #fff;
  @media(max-width:1400px) {
    padding-top:100px;
    padding-bottom: 20px;
  }
  @media(max-width:1200px) {
    padding-top:90px;
  }
  @media(max-width:768px) {
    padding-top:50px;
  }
}
