:root {
  --container-width: 1756px;;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
// sections
@import "header";
@import "hero";
@import "materials";
@import "catalog";
@import "projects";
body {
  font-family: "Inter", sans-serif;
  background: rgb(205, 205, 205);
}
.wrapper {
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 1824px;
  margin: 0 auto;
  padding: 0 24px;
  @media (max-width: 768px) {
    padding: 0 15px;
  }
}
.button {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0px;
  text-align: left;
  border-radius: 30px;
  background: rgba(0, 209, 226, 0.8);
  padding: 24px 68px;
}
// flex
.flex {
  display: flex;

  &.between {
    justify-content: space-between;
  }

  &.center {
    justify-content: center;
  }

  &.end {
    justify-content: flex-end;
  }

  &.start {
    justify-content: flex-start;
  }

  &.column {
    flex-direction: column;
  }

  &.a_center {
    align-items: center;
  }

  &.a_start {
    align-items: flex-start;
  }

  &.a_end {
    align-items: flex-end;
  }
  &.wrap {
    flex-wrap: wrap;
  }
}

.section {
  position: sticky;
  top: 0;
  height: 100vh;
}

// .hero {
//   background: crimson;
//   z-index: 1;
// }
// .blue {
//   background: dodgerblue;
//   z-index: 2;
// }
// .green {
//   background: seagreen;
//   z-index: 3;
// }
// .orange {
//   background: orange;
//   z-index: 4;
// }
.line_content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .line {
    overflow: hidden;
    height: 404px;
    width: 8px;
    background: #004231;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    top: -280px;
    margin: 0px auto;
    .white_line {
      height: 280px;
      width: 8px;
      background: #fff;
      position: sticky;
      top: 0;
    }
  }
}
.section_title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 800;
  line-height: 77px;
  letter-spacing: 0px;
  text-align: left;
}
.content_top {
  padding-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #fff;

  a {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
    text-decoration-line: underline;
  }
}
.g-20 {
  gap: 19px;
}
