@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --container-width: 1756px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 32px 0 0;
}
.header_logo {
  background: #fff;
  border-radius: 45px;
}
@media (max-width: 1024px) {
  .header_logo {
    font-weight: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    border-radius: 29px;
  }
}
@media (max-width: 1024px) {
  .header_logo img {
    width: 235px;
  }
}
.header_menu {
  gap: 40px;
}
@media (max-width: 1200px) {
  .header_menu {
    gap: 28px;
  }
}
.header_menu ul {
  gap: 48px;
}
@media (max-width: 1200px) {
  .header_menu ul {
    gap: 28px;
  }
}
@media (max-width: 1024px) {
  .header_menu ul {
    gap: 16px;
  }
}
.header a {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: left;
}
@media (max-width: 1024px) {
  .header a {
    font-size: 24px;
    font-weight: 700;
  }
}
.header .hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 83px;
  height: 75px;
  background: rgb(255, 255, 255);
  border-radius: 48.16px;
  cursor: pointer;
}
.header .hamburger span {
  width: 45px;
  height: 5px;
  background: #000;
}
.header_right {
  gap: 32px;
}
@media (max-width: 1024px) {
  .header_right {
    gap: 12px;
  }
}
.header_right ul {
  gap: 32px;
}
@media (max-width: 1024px) {
  .header_right ul {
    gap: 12px;
  }
}

.hero {
  background: url("../images/hero_img.png") no-repeat center center;
  background-size: cover;
  padding-bottom: 90px;
}
.hero_content {
  gap: 159px;
}
.hero_content_top {
  padding-top: 432px;
  gap: 45px;
}
.hero_content_top p {
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.8);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  width: fit-content;
  padding: 28px 18px;
  max-width: 414px;
}
.hero_content_top .button {
  width: fit-content;
  margin-top: 45px;
}
.hero_content_bottom a {
  border-radius: 45px;
  background: rgba(0, 0, 0, 0.66);
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: center;
  padding: 17px 23px;
  display: block;
  width: fit-content;
  transition: all 0.2s linear;
}
.hero_content_bottom a:hover {
  background: rgb(0, 209, 226);
}
.hero_content_bottom_items {
  gap: 50px;
  margin-top: 9px;
  padding: 29px 55px 30px 35px;
  background: rgba(0, 0, 0, 0.66);
  border-radius: 45px;
  align-items: stretch !important;
  max-width: 1564px;
}
@media (max-width: 1400px) {
  .hero_content_bottom_items {
    gap: 25px;
  }
}
.hero_content_bottom_items .hero_content_bottom_item {
  border-radius: 30px;
  background: rgba(0, 209, 226, 0.8);
  color: rgb(255, 255, 255);
  font-size: 24px;
  flex: 1;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  min-height: 137px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  transition: all 0.2s linear;
}
.hero_content_bottom_items .hero_content_bottom_item:hover {
  background: rgb(0, 209, 226);
}
@media (max-width: 1400px) {
  .hero_content_bottom_items .hero_content_bottom_item {
    font-size: 20px;
    line-height: normal;
  }
}

.materials {
  padding-top: 71px;
}
.materials_items {
  padding-top: 48px;
  gap: 39px 19px;
}
.materials_item {
  max-width: 432px;
  width: 100%;
}
.materials_item a {
  width: 100%;
  height: 193px;
  display: flex;
  border-radius: 35px;
  background: rgb(255, 255, 255);
  color: rgb(13, 13, 13);
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 45px;
  transition: all 0.2s linear;
}
.materials_item a:hover {
  background: rgb(0, 167, 185);
  color: #fff;
}
.materials_item a.active {
  background: rgb(0, 167, 185);
  color: #fff;
}
.materials_tab_item {
  border: 1px dashed #004231;
  width: 492px;
  height: 492px;
  border-radius: 50%;
  text-align: center;
  font-size: 14.4px;
  font-style: normal;
  font-weight: 400;
  line-height: 14.4px;
  color: #004231;
  position: relative;
}
.materials_tab_item img {
  position: absolute;
  top: -115px;
  left: -94px;
}
.materials_tab_item img:last-child {
  top: auto;
  bottom: -97px;
  left: -14px;
}
.materials_tab_item span {
  text-align: center;
  font-size: 34.351px;
  font-style: normal;
  font-weight: 700;
  line-height: 40.077px;
  text-transform: uppercase;
}
.materials_tab_item p {
  opacity: 0;
  margin-top: 7px;
  color: #fae7cb;
  text-align: center;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  max-width: 200px;
}
.materials_tab_item.active {
  color: #fff;
  border: 3px solid #004231;
  background: #004231;
  box-shadow: 4px 4px 10px 10px rgba(0, 66, 49, 0.1);
}
.materials_tab_item.active p {
  opacity: 1;
}
.materials_tab_item:hover {
  color: #fff;
  background: #004231;
}
.materials_tab_item:hover p {
  opacity: 1;
}
.materials .comunity_tab_content {
  background: #fae7cb;
}
.materials .comunity_tab_item.item1 {
  transform: translate(147px, 137px);
}
.materials .comunity_tab_item.item3 {
  transform: translate(-147px, 137px);
}
.materials .comunity_tab_item.item3 img {
  left: auto;
  right: -109px;
}
.materials .comunity_tab_item.item3 img:last-child {
  right: 104px;
}
.materials .comunity_tab_item.item4 {
  top: -147px;
}
.materials .comunity_tab_content .comunity_tab_items {
  max-width: 1824px;
  margin: 0 auto;
}
.materials .comunity_tab_content .comunity_tab_item {
  width: fit-content;
  border: 0;
  height: fit-content;
  border-radius: 0;
  gap: 20px;
}
.materials .comunity_tab_content .comunity_tab_item:not(.active):hover {
  background: transparent;
}
.materials .comunity_tab_content .comunity_tab_item:nth-child(1) {
  transform: translate(34px, 76px);
}
.materials .comunity_tab_content .comunity_tab_item:nth-child(1) h3 {
  margin-bottom: 20px;
}
.materials .comunity_tab_content .comunity_tab_item:nth-child(2) {
  gap: 26px;
  align-items: flex-end;
}
.materials .comunity_tab_content .comunity_tab_item:nth-child(2) h3 {
  margin-bottom: 10px;
}
.materials .comunity_tab_content .comunity_tab_item:nth-child(3) {
  align-items: flex-end;
  gap: 84px;
  transform: translateY(58px);
}
.materials .comunity_tab_content .comunity_tab_item:nth-child(3) h3 {
  margin-bottom: 94px;
}
.materials .comunity_tab_content .comunity_tab_item:nth-child(4) {
  align-items: center;
  gap: 127px;
}
.materials .comunity_tab_content .comunity_tab_item:nth-child(4) .comunity_tab_item_img {
  width: 264px;
  height: 264px;
}
.materials .comunity_tab_content .comunity_tab_item:nth-child(4) .comunity_tab_item_img img {
  width: 240px;
  height: 240px;
}
.materials .comunity_tab_content .comunity_tab_item:nth-child(6) {
  gap: 33px;
  align-items: start;
}
.materials .comunity_tab_content .comunity_tab_item:nth-child(6) h3 {
  margin-top: 69px;
}
.materials .comunity_tab_content .comunity_tab_item:nth-child(6) .comunity_tab_item_img {
  width: 330px;
  height: 330px;
}
.materials .comunity_tab_content .comunity_tab_item:nth-child(6) .comunity_tab_item_img img {
  width: 300px;
  height: 300px;
}
.materials .comunity_tab_content .comunity_tab_item:nth-child(7) {
  align-items: flex-end;
  transform: translate(34px, -190px);
}
.materials .comunity_tab_content .comunity_tab_item:nth-child(7) h3 {
  margin-bottom: 110px;
}
.materials .comunity_tab_content .comunity_tab_item:nth-child(8) {
  align-items: flex-end;
  transform: translate(-58px, -190px);
}
.materials .comunity_tab_content .comunity_tab_item:nth-child(8) .comunity_tab_item_img {
  width: 264px;
  height: 264px;
}
.materials .comunity_tab_content .comunity_tab_item:nth-child(8) .comunity_tab_item_img img {
  width: 234px;
  height: 234px;
}
.materials .comunity_tab_content .comunity_tab_item:nth-child(8) h3 {
  margin-bottom: 110px;
}
.materials .comunity_tab_content .comunity_tab_item_img {
  border-radius: 320px;
  border: 1px dashed #004231;
  width: 320px;
  height: 320px;
}
.materials .comunity_tab_content .comunity_tab_item_img img {
  position: static;
  width: 290px;
  height: 290px;
  border-radius: 50%;
  object-fit: cover;
  opacity: 1;
}
.materials .comunity_tab_content .comunity_tab_item h3 {
  color: #004231;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
}
.materials .comunity_tab_content .comunity_tab_item.active {
  width: 492px;
  height: 492px;
  border-radius: 50%;
  margin-top: 34px;
}
.materials .comunity_tab_content#tab_content1 {
  z-index: 7;
}
.materials .comunity_tab_content#tab_content1 .comunity_tab_items {
  padding-top: 135px;
}
.materials .comunity_tab_content#tab_content1 .comunity_tab_item:first-child {
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}
.materials .comunity_tab_content#tab_content1 .comunity_tab_item:first-child h3 {
  margin-left: 80px;
}
.materials .comunity_tab_content#tab_content1 .comunity_tab_item:nth-child(2) {
  flex-direction: row-reverse;
  align-items: flex-start;
  gap: 203px;
  margin-left: 130px;
}
.materials .comunity_tab_content#tab_content1 .comunity_tab_item:nth-child(2) h3 {
  margin-top: 37px;
  margin-bottom: 0;
}
.materials .comunity_tab_content#tab_content1 .comunity_tab_item:nth-child(3) {
  align-items: flex-start;
  gap: 0;
}
.materials .comunity_tab_content#tab_content1 .comunity_tab_item:nth-child(3) h3 {
  margin-right: -20px;
  margin-top: 0;
}
.materials .comunity_tab_content#tab_content1 .comunity_tab_item:nth-child(4) {
  margin-left: 350px;
  margin-top: 0;
  transform: translateY(-177px);
  gap: 20px;
}
.materials .comunity_tab_content#tab_content1 .comunity_tab_item:nth-child(5) {
  gap: 45px;
  margin-right: auto;
  margin-top: -240px;
  margin-left: 78px;
}
.materials .comunity_tab_content#tab_content1 .comunity_tab_item:nth-child(5) h3 {
  margin-top: 50px;
}
.materials .comunity_tab_content#tab_content1 .comunity_tab_item:nth-child(6) {
  align-items: flex-end;
  margin-top: -721px;
  gap: 135px;
}
.materials .comunity_tab_content#tab_content1 .comunity_tab_item:nth-child(6) h3 {
  margin-bottom: 59px;
  margin-top: 0;
}
.materials .comunity_tab_content#tab_content1 .comunity_tab_item:nth-child(7) {
  gap: 65px;
  transform: translate(34px, -300px);
}
.materials .comunity_tab_content#tab_content1 .comunity_tab_item:nth-child(7) h3 {
  margin-bottom: 48px;
}
.materials .comunity_tab_content#tab_content1 .comunity_tab_item:nth-child(8) {
  flex-direction: column-reverse;
  transform: translateY(-400px);
  gap: 85px;
  align-items: flex-end;
}
.materials .comunity_tab_content#tab_content1 .comunity_tab_item:nth-child(8) h3 {
  margin-bottom: 0;
}

.catalog {
  padding-top: 207px;
}
.catalog_content {
  padding-top: 78px;
}
.catalog_content.first .catalog_items {
  min-height: 561px;
}
.catalog_content p {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}
.catalog_content.child2 {
  margin-top: 155px;
}
.catalog_content.child2 .catalog_items {
  gap: 19px;
}
.catalog_content.child3 {
  margin-top: 105px;
}
.catalog_content.child3 .catalog_items {
  gap: 19px;
}
.catalog_items {
  margin-top: 24px;
  transition: all 0.2s linear;
}
.catalog_item {
  border-radius: 35px;
  background: rgb(255, 255, 255);
  position: relative;
  width: calc(25% - 9.5px);
  min-height: 506px;
  transition: all 0.2s linear;
  max-height: 554px;
  cursor: pointer;
}
.catalog_item::after, .catalog_item::before {
  content: "";
  width: 42px;
  height: 43px;
  position: absolute;
  border-radius: 28px 0 0 0;
  border: 4px solid rgb(100, 171, 229);
  transition: all 0.2s linear;
}
.catalog_item::after {
  top: 12px;
  left: 18px;
  border-right: 0;
  border-bottom: 0;
}
.catalog_item::before {
  bottom: 12px;
  right: 18px;
  border-radius: 0 0 28px 0;
  border-top: 0;
  border-left: 0;
}
.catalog_item_number {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 800;
  line-height: 77px;
  letter-spacing: 0px;
  text-align: center;
  display: none;
  transition: all 0.2s linear;
}
.catalog_item .product_swiper {
  overflow: hidden;
  width: 100%;
}
.catalog_item .swiper-slide img {
  width: 100%;
  object-fit: contain;
  transition: all 0.2s linear;
}
.catalog_item_icons {
  justify-content: space-between;
  align-items: center;
  border-radius: 17px;
  background: rgb(255, 255, 255);
  padding: 8px 17px;
  width: 100%;
  display: none;
  transition: all 0.2s linear;
}
.catalog_item_icons img {
  object-fit: contain;
  max-width: 96px;
  max-height: 30px;
}
.catalog_item_btns {
  position: absolute;
  inset: 0;
  width: 100%;
  margin: auto;
}
.catalog_item_btns .swiper-button-prev,
.catalog_item_btns .swiper-button-next {
  z-index: 12;
  color: #fff;
}
.catalog_item:hover {
  padding: 13px 27px 21px 30px;
  background: rgb(0, 167, 185);
}
.catalog_item:hover .title_sm {
  display: none;
}
.catalog_item:hover .catalog_item_icons {
  display: flex;
}
.catalog_item:hover .catalog_item_number {
  display: block;
}
.catalog_item:hover::after, .catalog_item:hover::before {
  display: none;
}
.catalog_item .title_sm {
  color: rgb(34, 34, 34);
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
}

.projects {
  padding-top: 120px;
}
.projects_slider {
  padding-top: 113px;
  margin-right: calc((100vw - var(--container-width)) / -2);
  padding-right: calc((100vw - var(--container-width)) / 2);
  overflow: visible;
}
@media (max-width: 1550px) {
  .projects_slider {
    padding-top: 80px;
    margin-right: 0;
  }
}
.projects_item_tags {
  gap: 16px;
}
.projects_item_tags span {
  border-radius: 19px;
  background: rgb(255, 255, 255);
  padding: 5px 13px 6px 17px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
}
@media (max-width: 1550px) {
  .projects_item_tags span {
    font-size: 20px;
  }
}
.projects_item_img {
  width: 100%;
  margin-top: 21px;
  display: flex;
}
.projects_item_img img {
  border-radius: 59px;
  width: 100%;
  min-height: 555px;
  object-fit: cover;
}
@media (max-width: 1550px) {
  .projects_item_img img {
    min-height: 362px;
  }
}
.projects_item_title {
  color: rgb(33, 33, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 21px;
  display: block;
}
@media (max-width: 1550px) {
  .projects_item_title {
    font-size: 38px;
  }
}
.projects_item_link {
  border-radius: 19px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 16px;
  width: fit-content;
  padding: 10px 23px 9px 9px;
  margin-top: 13px;
  transition: all 0.2s linear;
}
.projects_item_link:hover {
  background: rgb(0, 167, 185);
  color: #fff;
}
@media (max-width: 1550px) {
  .projects_item_link {
    font-size: 20px;
    gap: 12px;
  }
}
.projects_item_link img {
  width: 40px;
}

.footer {
  padding-top: 300px;
  padding-bottom: 30px;
  color: #fff;
}

body {
  font-family: "Inter", sans-serif;
  background: rgb(205, 205, 205);
}

.wrapper {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1824px;
  margin: 0 auto;
  padding: 0 24px;
}
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}

.button {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0px;
  text-align: left;
  border-radius: 30px;
  background: rgba(0, 209, 226, 0.8);
  padding: 24px 68px;
  transition: all 0.2s linear;
}
.button:hover {
  background: rgb(0, 209, 226);
}

.flex {
  display: flex;
}
.flex.between {
  justify-content: space-between;
}
.flex.center {
  justify-content: center;
}
.flex.end {
  justify-content: flex-end;
}
.flex.start {
  justify-content: flex-start;
}
.flex.column {
  flex-direction: column;
}
.flex.a_center {
  align-items: center;
}
.flex.a_start {
  align-items: flex-start;
}
.flex.a_end {
  align-items: flex-end;
}
.flex.wrap {
  flex-wrap: wrap;
}

.section {
  position: sticky;
  top: 0;
  height: 100vh;
}

.line_content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.line_content .line {
  overflow: hidden;
  height: 404px;
  width: 8px;
  background: #004231;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  top: -280px;
  margin: 0px auto;
}
.line_content .line .white_line {
  height: 280px;
  width: 8px;
  background: #fff;
  position: sticky;
  top: 0;
}

.section_title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 800;
  line-height: 77px;
  letter-spacing: 0px;
  text-align: left;
}

.content_top {
  padding-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #fff;
}
.content_top a {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  text-decoration-line: underline;
  transition: all 0.2s linear;
  width: fit-content;
}
.content_top a:hover {
  color: rgb(0, 209, 226);
}

.g-20 {
  gap: 19px;
}/*# sourceMappingURL=style.css.map */